<div id="comment_<%= comment.id %>">
  <p><%= comment.content %></p>
  <% if comment.children.count > 0 -%>
  	<p><%= render :partial => 'comments/comment', :collection => comment.children %></p>
  <% end -%>
</div>