<div class="nested" id="comment_<%= comment.id %>">
  <%= markdown comment.content %>
  <% if comment.children.count > 0 %>
  	<%= render partial: 'comments/comment', collection: comment.children %>
  <% end %>
</div>