<div class="bs-docs-header" id="content">
  <div class="container">
    <h1><%= @matchthread.title %></h1>
  </div>
</div>
<div class="row">
	<div class="col-md-8">
	  <h2>Comments</h2>
	  <%= render "comments/show" %>
	</div>
	<div class="col-md-4">
		<h1>Match-Ticker</h1>
		<h2><%= link_to 'view comments', comment_path(@matchthread.thread_id) %></h2>
		<p><%= markdown @matchthread.text %></p>
	</div>
</div>