<h1>Current Match Threads</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Thread ID</th>
  </tr>
 
<% @match_threads.each do |thread| %>
  <tr>
    <td><%= link_to thread.title, matchthread_path(thread.thread_id) %></td>
    <td><%= thread.author %></td>
    <td><%= thread.thread_id %></td>
  </tr>
<% end %>
</table>
 
<br>
